.gallery {
    background-color: #eeeedd;
    width: 1620px;
     height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.galleryContent {
    width: 75%;
    margin-bottom: 50px;
}

.ReactGridGallery_tile{
    padding: 50px
}